.admin-container {
  display: flex; //xếp theo hàng ngang
  .admin-sidebar {
    height: 100vh;
  }
  .admin-content {
    padding: 0 15px;
    width: 100%;
    .admin-header {
      height: 40px;
      border: 1px solid green;
    }
    .admin-main {
      .user-pagination {
        display: flex;
        justify-content: center;
      }
    }
  }
}
