body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1700px !important;
  }
}

.app-container {
  .header-container {
    .btn-login {
      border-radius: 6px;
      margin-right: 15px;
      padding: 0 15px;
      border: 1px solid #a7a7a7;
      height: 40px;
    }
    .btn-signup {
      color: white;
      border-radius: 6px;
      padding: 0 12px;
      background: black;
      height: 40px;

      &:hover {
        background: #303030;
      }
    }
    .navbar {
      padding-top: 20px;
      z-index: 10; //nằm trên phần tử có z-index thấp hơn
      // opacity: 0.6; //mờ thanh
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
  .homepage-container {
    .homepage-content {
      padding: 100px;
      width: 50%;
      position: relative;
      //position: relative cho phép dịch chuyển phần tử mà không làm ảnh hưởng bố cục của các phần tử khác.
      display: flex;
      flex-direction: column;
      gap: 25px;

      .title-1 {
        font-size: 65px;
        font-weight: 600;
      }
      .title-2 {
        font-size: 20px;
      }
      .title-3 {
        button {
          color: white;
          border-radius: 6px;
          padding: 0 12px;
          background: black;
          height: 40px;
          &:hover {
            background: #303030;
          }
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;

  width: 100vw;
}
