.signup-container {
  .header {
    height: 40px;
    text-align: right;
    padding: 5px 100px 0 100px;
    button {
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      border: 1px solid;
      margin-left: 10px;
      background-color: #f9f9f9;

      &:hover {
        background-color: white;
      }
    }
  }
  .title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
  }
  .welcome {
    font-size: 17px;
    text-align: center;
  }
  .content-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
    }
    button {
      height: 35px;
      border: none;
      border-radius: 5px;
      color: white;
      background-color: black;
      margin: 15px 0;
    }
    .pass-group {
      position: relative;
      .icons-eye {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
    .text-center {
      cursor: pointer;
    }
  }
}
